<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd"
	default-autowire="byName" default-lazy-init="false">
	<context:annotation-config />

	<bean id="sendHttpRequest" class="com.market.service.implement.SendHttpRequestImpl"
		scope="singleton" init-method="init"></bean>
	<bean id="randomService" class="com.market.service.implement.RandomServiceImpl"
		scope="singleton" init-method="init"></bean>
</beans>